@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.price {
  background-color: #000;

  &__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include mobile {
      display: none;
    }

    @include tablet {
      display: none;
      width: 100%;
    }

    &--mobile {
      display: none;

      @include mobile {
        display: block;
      }

      @include tablet {
        display: block;
      }
    }
  }

  &__title {
    text-align: left;
  }

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 150px;

    @include mobile {
      flex-direction: column;
      gap: 20px;
      margin-bottom: 60px;
    }
  }

  &__text {
    color: $project-white;
    width: 525px;
    font-weight: 100;
    margin-top: 10px;

    @include mobile {
      width: 100%;
    }
  }
}