/* Стиль для мобильного меню */
.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  /* Скрываем меню за экраном слева */
  width: 100%;
  /* Ширина меню */
  height: 100%;
  /* Полная высота экрана */
  background: #000;
  /* Цвет фона меню */
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
  /* Легкая тень */
  transition: left 3s ease-in-out;
  /* Плавная анимация выезда меню */
  z-index: 1000;
  /* Меню поверх других элементов */


  display: none; // Скрыть меню по умолчанию

  &--open {
    display: block; // Показать, если меню открыто
  }
}

.mobile-menu--open {
  left: 0;
  /* Когда меню открыто, оно выезжает на экран */
}

.mobile-menu :last-child {
  margin: auto;
}

/* Стиль для содержимого меню */
.mobile-menu__content {
  margin-top: auto;
}

/* Стиль для блокировки прокрутки на фоне */
body.menu-open {
  overflow: hidden;
}