@import '../../styles/vars.scss';

.circle {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  backdrop-filter: blur(8px);
  display: block;
  cursor: pointer;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    margin-top: 87px;
  }
}