@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

@keyframes flash-glow {
  0% {
    opacity: 0; // Начальная прозрачность
  }

  25% {
    opacity: 1; // Максимальная яркость вспышки
  }

  50% {
    opacity: 0.5; // Плавное угасание
  }

  100% {
    opacity: 0; // Полное исчезновение
  }
}

.header-mobile {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, #000 80%), // Узкий, четкий градиент
    url('../../../public/images/header/header-background--mobile.png'); // Ваш фон
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 15px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;

  &__camera-wrapper {
    position: relative;
    align-self: center;
    width: 80%;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0);
      opacity: 0;
      animation: flash-glow 0.3s ease-in-out;
      animation-delay: 2s; // Задержка начала анимации на 5 секунд
    }
  }

  @include mobile {
    padding-inline: 20px; // Увеличиваем боковые отступы
  }

  &__logo {
    width: 83px;
    height: 49px;
  }

  &__title {
    margin-top: 45px !important;
    margin-bottom: 30px !important;
    text-align: center !important;
  }

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    box-sizing: border-box;

    position: fixed;
    /* Фиксируем элемент */
    top: 0;
    /* Привязываем к верхней части экрана */
    left: 0;
    /* Привязываем к левой стороне */
    width: 100%;
    /* Элемент занимает всю ширину экрана */
    z-index: 100;
    /* Убедитесь, что элемент выше других на странице */
    /* Добавьте фон, чтобы скрыть содержимое под ним */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);

    mix-blend-mode: difference;
    /* Тень для разделения с контентом */
  }

  &__menu {
    background-image: url('../../../public/images/icons/burger-menu.svg');
    width: 36px;
    height: 16px;
    display: block;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__close {
    background-image: url('../../../public/images/icons/cross.svg');
    width: 24px;
    height: 24px;
    display: block;

    margin: 0 !important;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__camera {
    width: 100%;
  }
}