$background-black: #070707;
$info-block-background: #120D0A;
$project-white: #F0F0F0;
$project-orange: #EC5805;
$small-text-color: #646464;
$background-gray: #D6DBDA;
$title-gradient: linear-gradient(180.55deg, #030201 -5.29%, #512004 67.6%);
$card-background: linear-gradient(180deg, rgba(44, 27, 8, 0.3) 0%, rgba(28, 15, 11, 0.3) 52.5%, rgba(44, 27, 8, 0.3) 96.62%);
$text-color: #000;
$dark-gray: #252525;
$primary-color: #120D0A;
