@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.header-top {
  background-image: url('../../../public/images/header-top/header-background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // height: 100vh;
  padding-top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    padding-top: 52px;
    text-align: center !important;

    @include desktop {
      font-size: 64px !important;
      padding-top: 100px;
    }
  }

  &__camera {
    width: 90%;
  }
}

.comment {
  text-align: right;
  position: absolute;
  right: 131px;
  bottom: 9px;
  color: $small-text-color;
}
