@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.header-top {
  background-image: url('../../../public/images/header/header-background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; // Ensure positioning for the pseudo-element

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    opacity: 0;
    animation: flash-glow 0.3s ease-in-out;
    animation-delay: 2s; // Задержка начала анимации на 5 секунд
  }
}

@keyframes flash-glow {
  0% {
    background: rgba(255, 255, 255, 0.8);
    opacity: 0; // Начальная прозрачность
  }
  25% {
    opacity: 1; // Максимальная яркость вспышки
  }
  50% {
    opacity: 0.5; // Плавное угасание
  }
  100% {
    opacity: 0; // Полное исчезновение
  }
}